<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savefriends</servlet-name>
        <servlet-class>savefriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sharepost</servlet-name>
        <servlet-class>sharepost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shareposts</servlet-name>
        <servlet-class>Shareposts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postimage</servlet-name>
        <servlet-class>postimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postimagefriend</servlet-name>
        <servlet-class>postimagefriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savefriends</servlet-name>
        <url-pattern>/savefriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sharepost</servlet-name>
        <url-pattern>/sharepost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shareposts</servlet-name>
        <url-pattern>/Shareposts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postimage</servlet-name>
        <url-pattern>/postimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postimagefriend</servlet-name>
        <url-pattern>/postimagefriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
